<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>StackOverflow Scrapper</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">StackOverflow Scrapper</h1>
        <h2 class="subtitle">
          You can gather top 10 recenet questions or Top 10 most voted questions
          in the past week.
        </h2>
      </div>
      <br />
      <div class="container">
        <button
          class="button is-large"
          onClick="window.location.href='/recent_que'"
        >
          Most Recent Questions
        </button>
        <button
          class="button is-large"
          onclick="window.location.href='/top_voted_question'"
        >
          Most Voted Questions
        </button>
      </div>
      </br>
      <div class="container">
        <h2 class="subtitle">You are now viewing {{ scrape_method }}</h2>
      </div>
    </div>
  </section>
  <body>
    <section class="section">
      <div class="container">
        <div class="content is-medium">
          {% for b in beer %}
          <h1><a href="inside_que?url={{ b['link'] }}">{{ b['question'] }}</a></h1>
          <h4>{{ b['description'] }}</h4>
          <p>Votes: {{ b['votes'] }}</p>
          <h5>Post time: {{ b['time'] }}</h5>
          <p>Page No: {{ b['page_count'] }}</p>
          {% endfor %}
        </div>
      </div>
    </section>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>StackOverflow Scrapper by </strong> by
        <a href="https://nakhlarafi.me">Md Nakhla Rafi</a>.
      </p>
    </div>
  </footer>
</html>
